body{
    background-color:rgb(34,34,34);
    color: white;
    font-family:'Poppins', sans-serif;;
    margin: 0 auto;/* margens laterais automáticas para ficar centralizado*/
    max-width: 1200px;/* não ultrapassará uma largura máxima de 1200 pixels, serve para layouts ficarem bonitos 
    em várias resoluções de tela.*/
}
.menu{
    display:flex;/*eu usei esse comando para criar layouts  flexíveis e controlar a posição, alinhamento e distribuição 
    dos elementos filhos */
    justify-content: space-between;/*cria um espaço entre os elementos*/
    align-items: center;

}
ul{
    margin-right: -60px;
}

#logo img{
    width: 350px; /*largura fixa */
    height: auto;
    padding-top: 60px;
    margin-bottom: 50px;
}
ul{
    margin-right: 135px;
}
li{
    display:inline-block;
font-size: 20px;

}
li a{
    text-decoration: none;/*tirar o sublinhado do link*/
    padding:30px;
    color:white;
}

li a:hover{
    color:#e65119;
    transition: 0.5s all;/*esse efeito deixa a transição do hover mais lenta*/
}

li a:active{
color:white;
transition: 0.0s all;
}

.corpo{
    display: flex;
    flex-direction: row;/*usei esses comandos para poder por o título e a imagem lado a lado*/
    margin-top:5px;
}

h1{
    margin-top: 40px;
    font-size: 57px;
    line-height: 10px;
    font-family: 'Poppins', sans-serif;;
}

h2{
    margin-top: 50px;
}
h2 a{
    text-decoration: none;/*tirar o sublinhado do link*/
    color:#e65119;
}

h2 a:hover{
    color:#ffc58d;
    transition: 0.5s all;
}

h2 a:active{
color:#e65119;
transition: 0.0s all;

}
span{
    color:#2f4f4f;
}

h2{
    margin-top: 5px;
    color:#e65119;
    font-size: 30px;
}
p{
    line-height: 20px;
    max-width: 400px;

}

form{
    display: flex;
    flex-direction: column;
    margin-left: 230px;
    width:80%;
    margin-top: -50px;
}

input{
    margin-top: 25px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

input:hover{
    cursor: pointer;

}
textarea{
    margin-top: 25px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    background-color: white;
    border: none;
    resize: none;
    width: 330px;
    height: 70px;
    font-size: 16px;
}
textarea:hover{
    cursor: pointer;

}
#submit{
    height: 50px;
    width: 50%;
    background-color:#e65119 ;
    color: white;
    font-weight: bold;
}
#submit:hover{
   
    background-color:white ;
    color: #e65119;
    font-weight: bold;
    transition: 0.5s all;


}
#submit:active{
   
    background-color:#e65119 ;
    color: white;
    font-weight: bold;
    transition: 0.0s all;


}
